################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/packages
*.suo
*.sdf
*.opensdf
*.user

*.swp
